/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #b22222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    font-size: 1.1rem;
}

.hero {
    background-image: url('https://example.com/violence-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 2rem;
}

.cta-button {
    background-color: #b22222;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #8b0000;
}

section {
    padding: 40px 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center; /* Centraliza o conteúdo dentro do container */
    margin-top: 20px;
}

.image-container img {
    width: 80%; /* Define a largura da imagem para 80% da largura da tela */
    max-width: 800px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
}

.image-container-ciclo {
    text-align: center; /* Centraliza o conteúdo dentro do container */
    margin-top: 20px;
}

.image-container-ciclo img {
    width: 80%; /* Define a largura da imagem para 80% da largura da tela */
    max-width: 800px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
}